# Telecom Churn case study using PCA and Ensemble

### Problem Statement
In the telecom industry, customers are able to choose from multiple service providers and actively switch from one operator to another. In this highly competitive market, the telecommunications industry experiences an average of 15-25% annual churn rate. Given the fact that it costs 5-10 times more to acquire a new customer than to retain an existing one, customer retention has now become even more important than customer acquisition.

For many incumbent operators, retaining high profitable customers is the number one business
goal. To reduce customer churn, telecom companies need to predict which customers are at high risk of churn. In this project, you will analyze customer-level data of a leading telecom firm, build predictive models to identify customers at high risk of churn.

In this competition, your goal is to build a machine learning model that is able to predict churning customers based on the features provided for their usage.

### Goal
It is your job to predict if a customer will churn, given the ~170 columns containing customer behavior, usage patterns, payment patterns, and other features that might be relevant. Your target variable is "churn_probability"
Note: Make sure your accuracy is greater than the sample submission that is present in the leaderboard

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.decomposition import IncrementalPCA
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.preprocessing import StandardScaler

## Step 1. Reading, Understanding and Visualizing the data

In [2]:
telecom_train_df = pd.read_csv('train (1).csv')
telecom_test_df = pd.read_csv('test (1).csv')

In [3]:
telecom_train_df.head()

,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,...,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
0,0,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,31.277,87.009,...,0,0,NaN,NaN,NaN,1958,0.0,0.0,0.0,0
1,1,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,0.000,122.787,...,0,0,NaN,1.0,NaN,710,0.0,0.0,0.0,0
2,2,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,60.806,103.176,...,0,0,NaN,NaN,NaN,882,0.0,0.0,0.0,0
3,3,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,156.362,205.260,...,0,0,NaN,NaN,NaN,982,0.0,0.0,0.0,0
4,4,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,240.708,128.191,...,1,0,1.0,1.0,1.0,647,0.0,0.0,0.0,0

In [4]:
telecom_test_df.head()

,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,last_date_of_month_6,last_date_of_month_7,last_date_of_month_8,arpu_6,arpu_7,...,sachet_3g_6,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g
0,69999,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,91.882,65.330,...,0,0,0,NaN,NaN,NaN,1692,0.00,0.00,0.00
1,70000,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,414.168,515.568,...,0,0,0,NaN,NaN,NaN,2533,0.00,0.00,0.00
2,70001,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,329.844,434.884,...,0,0,0,NaN,NaN,NaN,277,525.61,758.41,241.84
3,70002,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,43.550,171.390,...,0,0,0,NaN,NaN,NaN,1244,0.00,0.00,0.00
4,70003,109,0.0,0.0,0.0,6/30/2014,7/31/2014,8/31/2014,306.854,406.289,...,0,0,0,NaN,NaN,NaN,462,0.00,0.00,0.00

In [5]:
telecom_train_df.shape

(69999, 172)

In [6]:
telecom_test_df.shape

(30000, 171)

In [7]:
telecom_train_df.columns

Index(['id', 'circle_id', 'loc_og_t2o_mou', 'std_og_t2o_mou', 'loc_ic_t2o_mou',
       'last_date_of_month_6', 'last_date_of_month_7', 'last_date_of_month_8',
       'arpu_6', 'arpu_7',
       ...
       'sachet_3g_7', 'sachet_3g_8', 'fb_user_6', 'fb_user_7', 'fb_user_8',
       'aon', 'aug_vbc_3g', 'jul_vbc_3g', 'jun_vbc_3g', 'churn_probability'],
      dtype='object', length=172)

In [8]:
telecom_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69999 entries, 0 to 69998
Columns: 172 entries, id to churn_probability
dtypes: float64(135), int64(28), object(9)
memory usage: 91.9+ MB

In [9]:
telecom_train_df.describe()

,id,circle_id,loc_og_t2o_mou,std_og_t2o_mou,loc_ic_t2o_mou,arpu_6,arpu_7,arpu_8,onnet_mou_6,onnet_mou_7,...,sachet_3g_7,sachet_3g_8,fb_user_6,fb_user_7,fb_user_8,aon,aug_vbc_3g,jul_vbc_3g,jun_vbc_3g,churn_probability
count,69999.000000,69999.0,69297.0,69297.0,69297.0,69999.000000,69999.000000,69999.000000,67231.000000,67312.000000,...,69999.000000,69999.000000,17568.000000,17865.000000,18417.000000,69999.000000,69999.000000,69999.000000,69999.00000,69999.000000
mean,34999.000000,109.0,0.0,0.0,0.0,283.134365,278.185912,278.858826,133.153275,133.894438,...,0.081444,0.085487,0.916325,0.909544,0.890319,1220.639709,68.108597,65.935830,60.07674,0.101887
std,20207.115084,0.0,0.0,0.0,0.0,334.213918,344.366927,351.924315,299.963093,311.277193,...,0.634547,0.680035,0.276907,0.286842,0.312501,952.426321,269.328659,267.899034,257.22681,0.302502
min,0.000000,109.0,0.0,0.0,0.0,-2258.709000,-1289.715000,-945.808000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,180.000000,0.000000,0.000000,0.00000,0.000000
25%,17499.500000,109.0,0.0,0.0,0.0,93.581000,86.714000,84.095000,7.410000,6.675000,...,0.000000,0.000000,1.000000,1.000000,1.000000,468.000000,0.000000,0.000000,0.00000,0.000000
50%,34999.000000,109.0,0.0,0.0,0.0,197.484000,191.588000,192.234000,34.110000,32.280000,...,0.000000,0.000000,1.000000,1.000000,1.000000,868.000000,0.000000,0.000000,0.00000,0.000000
75%,52498.500000,109.0,0.0,0.0,0.0,370.791000,365.369500,369.909000,119.390000,115.837500,...,0.000000,0.000000,1.000000,1.000000,1.000000,1813.000000,0.000000,0.000000,0.00000,0.000000
max,69998.000000,109.0,0.0,0.0,0.0,27731.088000,35145.834000,33543.624000,7376.710000,8157.780000,...,33.000000,41.000000,1.000000,1.000000,1.000000,4337.000000,12916.220000,9165.600000,11166.21000,1.000000

In [10]:
telecom_train_df.isna().sum()

id                     0
circle_id              0
loc_og_t2o_mou       702
std_og_t2o_mou       702
loc_ic_t2o_mou       702
                    ...
aon                    0
aug_vbc_3g             0
jul_vbc_3g             0
jun_vbc_3g             0
churn_probability      0
Length: 172, dtype: int64

In [11]:
telecom_train_df.dtypes

id                     int64
circle_id              int64
loc_og_t2o_mou       float64
std_og_t2o_mou       float64
loc_ic_t2o_mou       float64
                      ...
aon                    int64
aug_vbc_3g           float64
jul_vbc_3g           float64
jun_vbc_3g           float64
churn_probability      int64
Length: 172, dtype: object

### Dropping rows for both train and test datasets
 - Rows which are empty

In [12]:
telecom_train_df.dropna(axis=0, how='all', inplace=True)
telecom_test_df.dropna(axis=0, how='all', inplace=True)

In [13]:
print(telecom_train_df.shape)
print(telecom_test_df.shape)

(69999, 172)
(30000, 171)

### Dropping columns both train and test datasets

    - Columns having more than 70% values as null
    - Not needed like Id

In [14]:
# to check the % of null values
round((pd.isnull(telecom_train_df).sum()/len(telecom_train_df.index)),2)[pd.isnull(telecom_train_df).sum()/ len(telecom_train_df.index) > 0.60].sort_values()

count_rech_3g_8             0.74
night_pck_user_8            0.74
night_pck_user_7            0.74
arpu_2g_8                   0.74
arpu_2g_7                   0.74
arpu_3g_8                   0.74
arpu_3g_7                   0.74
av_rech_amt_data_8          0.74
av_rech_amt_data_7          0.74
fb_user_7                   0.74
count_rech_3g_7             0.74
fb_user_8                   0.74
total_rech_data_8           0.74
count_rech_2g_7             0.74
date_of_last_rech_data_7    0.74
max_rech_data_8             0.74
max_rech_data_7             0.74
date_of_last_rech_data_8    0.74
count_rech_2g_8             0.74
total_rech_data_7           0.74
fb_user_6                   0.75
night_pck_user_6            0.75
total_rech_data_6           0.75
count_rech_3g_6             0.75
max_rech_data_6             0.75
arpu_3g_6                   0.75
av_rech_amt_data_6          0.75
count_rech_2g_6             0.75
arpu_2g_6                   0.75
date_of_last_rech_data_6    0.75
dtype: float64

In [15]:
len(round((pd.isnull(telecom_train_df).sum()/len(telecom_train_df.index)),2)[pd.isnull(telecom_train_df).sum()/ len(telecom_train_df.index) > 0.70].sort_values())

30

In [16]:
len(round((pd.isnull(telecom_test_df).sum()/len(telecom_test_df.index)),2)[pd.isnull(telecom_test_df).sum()/ len(telecom_test_df.index) > 0.70].sort_values())

30

### As we have more than 70% data as null for 30 columns in train and test, we are dropping these columns from dataset.

In [17]:
cols_to_delete = ((pd.isnull(telecom_train_df).sum()/len(telecom_train_df.index))[pd.isnull(telecom_train_df).sum()/ len(telecom_train_df.index) > 0.60].sort_values()).keys()

In [18]:
cols_to_delete = cols_to_delete.to_list()

In [19]:
telecom_train_df = telecom_train_df.drop(cols_to_delete, axis=1)

In [20]:
telecom_train_df.shape

(69999, 142)

In [21]:
telecom_test_df = telecom_test_df.drop(cols_to_delete, axis=1)

In [22]:
telecom_test_df.shape

(30000, 141)

## Splitting the data in numerical and categorical for train & test dataset

In [23]:
train_datatype_columns = telecom_train_df.dtypes #type of each feature in data: int, float, object
train_numerical_columns = train_datatype_columns[(train_datatype_columns == 'int64') | (train_datatype_columns == 'float64')]
train_numerical_columns = train_numerical_columns.index.to_list()
train_categorical_columns = train_datatype_columns[train_datatype_columns == 'object']
train_categorical_columns = train_categorical_columns.index.to_list()

In [24]:
test_datatype_columns = telecom_test_df.dtypes #type of each feature in data: int, float, object
test_numerical_columns = test_datatype_columns[(test_datatype_columns == 'int64') | (test_datatype_columns == 'float64')] 
test_numerical_columns = test_numerical_columns.index.to_list()
test_categorical_columns = test_datatype_columns[test_datatype_columns == 'object']
test_categorical_columns = test_categorical_columns.index.to_list()

### Imputing the na values with
 - Median for numerical variables
 - Mode for categorical variables

In [25]:
# A generic method to impute na
def replace_na(df, columns, data_type):
    for col in columns:
        if data_type == 'categorical':
            value = pd.to_datetime(df[col]).mode()
        else:
            print(col)
            value = df[col].median()
        df[col].fillna(value, inplace=True)
    return df

In [26]:
telecom_train_df = replace_na(telecom_train_df, train_categorical_columns, 'categorical')
telecom_train_df = replace_na(telecom_train_df, train_numerical_columns, 'numerical')

id
circle_id
loc_og_t2o_mou
std_og_t2o_mou
loc_ic_t2o_mou
arpu_6
arpu_7
arpu_8
onnet_mou_6
onnet_mou_7
onnet_mou_8
offnet_mou_6
offnet_mou_7
offnet_mou_8
roam_ic_mou_6
roam_ic_mou_7
roam_ic_mou_8
roam_og_mou_6
roam_og_mou_7
roam_og_mou_8
loc_og_t2t_mou_6
loc_og_t2t_mou_7
loc_og_t2t_mou_8
loc_og_t2m_mou_6
loc_og_t2m_mou_7
loc_og_t2m_mou_8
loc_og_t2f_mou_6
loc_og_t2f_mou_7
loc_og_t2f_mou_8
loc_og_t2c_mou_6
loc_og_t2c_mou_7
loc_og_t2c_mou_8
loc_og_mou_6
loc_og_mou_7
loc_og_mou_8
std_og_t2t_mou_6
std_og_t2t_mou_7
std_og_t2t_mou_8
std_og_t2m_mou_6
std_og_t2m_mou_7
std_og_t2m_mou_8
std_og_t2f_mou_6
std_og_t2f_mou_7
std_og_t2f_mou_8
std_og_t2c_mou_6
std_og_t2c_mou_7
std_og_t2c_mou_8
std_og_mou_6
std_og_mou_7
std_og_mou_8
isd_og_mou_6
isd_og_mou_7
isd_og_mou_8
spl_og_mou_6
spl_og_mou_7
spl_og_mou_8
og_others_6
og_others_7
og_others_8
total_og_mou_6
total_og_mou_7
total_og_mou_8
loc_ic_t2t_mou_6
loc_ic_t2t_mou_7
loc_ic_t2t_mou_8
loc_ic_t2m_mou_6
loc_ic_t2m_mou_7
loc_ic_t2m_mou_8
loc_ic_t2f_mou_6
loc_ic_t2f_mou_7
loc_ic_t2f_mou_8
loc_ic_mou_6
loc_ic_mou_7
loc_ic_mou_8
std_ic_t2t_mou_6
std_ic_t2t_mou_7
std_ic_t2t_mou_8
std_ic_t2m_mou_6
std_ic_t2m_mou_7
std_ic_t2m_mou_8
std_ic_t2f_mou_6
std_ic_t2f_mou_7
std_ic_t2f_mou_8
std_ic_t2o_mou_6
std_ic_t2o_mou_7
std_ic_t2o_mou_8
std_ic_mou_6
std_ic_mou_7
std_ic_mou_8
total_ic_mou_6
total_ic_mou_7
total_ic_mou_8
spl_ic_mou_6
spl_ic_mou_7
spl_ic_mou_8
isd_ic_mou_6
isd_ic_mou_7
isd_ic_mou_8
ic_others_6
ic_others_7
ic_others_8
total_rech_num_6
total_rech_num_7
total_rech_num_8
total_rech_amt_6
total_rech_amt_7
total_rech_amt_8
max_rech_amt_6
max_rech_amt_7
max_rech_amt_8
last_day_rch_amt_6
last_day_rch_amt_7
last_day_rch_amt_8
vol_2g_mb_6
vol_2g_mb_7
vol_2g_mb_8
vol_3g_mb_6
vol_3g_mb_7
vol_3g_mb_8
monthly_2g_6
monthly_2g_7
monthly_2g_8
sachet_2g_6
sachet_2g_7
sachet_2g_8
monthly_3g_6
monthly_3g_7
monthly_3g_8
sachet_3g_6
sachet_3g_7
sachet_3g_8
aon
aug_vbc_3g
jul_vbc_3g
jun_vbc_3g
churn_probability

In [30]:
# Lets impute the values for test data as well
telecom_test_df = replace_na(telecom_test_df, test_categorical_columns, 'categorical')
telecom_test_df = replace_na(telecom_test_df, test_numerical_columns, 'numerical')

id
circle_id
loc_og_t2o_mou
std_og_t2o_mou
loc_ic_t2o_mou
arpu_6
arpu_7
arpu_8
onnet_mou_6
onnet_mou_7
onnet_mou_8
offnet_mou_6
offnet_mou_7
offnet_mou_8
roam_ic_mou_6
roam_ic_mou_7
roam_ic_mou_8
roam_og_mou_6
roam_og_mou_7
roam_og_mou_8
loc_og_t2t_mou_6
loc_og_t2t_mou_7
loc_og_t2t_mou_8
loc_og_t2m_mou_6
loc_og_t2m_mou_7
loc_og_t2m_mou_8
loc_og_t2f_mou_6
loc_og_t2f_mou_7
loc_og_t2f_mou_8
loc_og_t2c_mou_6
loc_og_t2c_mou_7
loc_og_t2c_mou_8
loc_og_mou_6
loc_og_mou_7
loc_og_mou_8
std_og_t2t_mou_6
std_og_t2t_mou_7
std_og_t2t_mou_8
std_og_t2m_mou_6
std_og_t2m_mou_7
std_og_t2m_mou_8
std_og_t2f_mou_6
std_og_t2f_mou_7
std_og_t2f_mou_8
std_og_t2c_mou_6
std_og_t2c_mou_7
std_og_t2c_mou_8
std_og_mou_6
std_og_mou_7
std_og_mou_8
isd_og_mou_6
isd_og_mou_7
isd_og_mou_8
spl_og_mou_6
spl_og_mou_7
spl_og_mou_8
og_others_6
og_others_7
og_others_8
total_og_mou_6
total_og_mou_7
total_og_mou_8
loc_ic_t2t_mou_6
loc_ic_t2t_mou_7
loc_ic_t2t_mou_8
loc_ic_t2m_mou_6
loc_ic_t2m_mou_7
loc_ic_t2m_mou_8
loc_ic_t2f_mou_6
loc_ic_t2f_mou_7
loc_ic_t2f_mou_8
loc_ic_mou_6
loc_ic_mou_7
loc_ic_mou_8
std_ic_t2t_mou_6
std_ic_t2t_mou_7
std_ic_t2t_mou_8
std_ic_t2m_mou_6
std_ic_t2m_mou_7
std_ic_t2m_mou_8
std_ic_t2f_mou_6
std_ic_t2f_mou_7
std_ic_t2f_mou_8
std_ic_t2o_mou_6
std_ic_t2o_mou_7
std_ic_t2o_mou_8
std_ic_mou_6
std_ic_mou_7
std_ic_mou_8
total_ic_mou_6
total_ic_mou_7
total_ic_mou_8
spl_ic_mou_6
spl_ic_mou_7
spl_ic_mou_8
isd_ic_mou_6
isd_ic_mou_7
isd_ic_mou_8
ic_others_6
ic_others_7
ic_others_8
total_rech_num_6
total_rech_num_7
total_rech_num_8
total_rech_amt_6
total_rech_amt_7
total_rech_amt_8
max_rech_amt_6
max_rech_amt_7
max_rech_amt_8
last_day_rch_amt_6
last_day_rch_amt_7
last_day_rch_amt_8
vol_2g_mb_6
vol_2g_mb_7
vol_2g_mb_8
vol_3g_mb_6
vol_3g_mb_7
vol_3g_mb_8
monthly_2g_6
monthly_2g_7
monthly_2g_8
sachet_2g_6
sachet_2g_7
sachet_2g_8
monthly_3g_6
monthly_3g_7
monthly_3g_8
sachet_3g_6
sachet_3g_7
sachet_3g_8
aon
aug_vbc_3g
jul_vbc_3g
jun_vbc_3g

### Lets check for unique entries in train and test dataset

In [28]:
# For train data
for column in train_numerical_columns:
    print (f"{column} has number of categories as : {telecom_train_df[column].unique()}")
    print (f"{telecom_train_df[column].value_counts()}\n")

id has number of categories as : [    0     1     2 ... 69996 69997 69998]
0        1
46664    1
46670    1
46669    1
46668    1
        ..
23338    1
23339    1
23340    1
23341    1
69998    1
Name: id, Length: 69999, dtype: int64

circle_id has number of categories as : [109]
109    69999
Name: circle_id, dtype: int64

loc_og_t2o_mou has number of categories as : [0.]
0.0    69999
Name: loc_og_t2o_mou, dtype: int64

std_og_t2o_mou has number of categories as : [0.]
0.0    69999
Name: std_og_t2o_mou, dtype: int64

loc_ic_t2o_mou has number of categories as : [0.]
0.0    69999
Name: loc_ic_t2o_mou, dtype: int64

arpu_6 has number of categories as : [ 31.277   0.     60.806 ... 372.088 238.575 168.269]
 0.000      2603
 20.000       72
-5.000        72
 1.000        49
 1.500        38
            ...
 119.580       1
 393.027       1
 48.879        1
 179.191       1
 168.269       1
Name: arpu_6, Length: 61615, dtype: int64

arpu_7 has number of categories as : [ 87.009 122.787 103.176 ... 258.374 245.414  42.815]
 0.000      2666
-5.000       107
 20.000       49
 1.000        38
 1.500        37
            ...
 233.736       1
 503.358       1
 183.610       1
 332.326       1
 42.815        1
Name: arpu_7, Length: 61425, dtype: int64

arpu_8 has number of categories as : [  7.527  42.953   0.    ... 279.782 145.062 167.961]
 0.000      3898
-5.000       144
 1.000        49
 0.010        36
 0.100        35
            ...
 5.060         1
 957.444       1
 69.780        1
 284.076       1
 167.961       1
Name: arpu_8, Length: 60194, dtype: int64

onnet_mou_6 has number of categories as : [ 48.58   0.     0.53 ... 486.49 399.01 116.54]
0.00       6201
34.11      2774
0.33         62
0.31         53
0.26         52
           ...
1156.03       1
793.06        1
1445.18       1
1363.36       1
116.54        1
Name: onnet_mou_6, Length: 20057, dtype: int64

onnet_mou_7 has number of categories as : [124.38   0.    15.93 ... 453.83 378.21 283.63]
0.00       6440
32.28      2697
1.01         61
0.18         51
0.48         51
           ...
1057.16       1
258.04        1
310.38        1
235.18        1
283.63        1
Name: onnet_mou_7, Length: 20076, dtype: int64

onnet_mou_8 has number of categories as : [  1.29   0.     6.13 ... 458.79 380.99 232.63]
0.00      6631
32.10     3703
0.41        60
0.38        60
0.48        56
          ...
324.14       1
247.39       1
796.03       1
166.64       1
232.63       1
Name: onnet_mou_8, Length: 19726, dtype: int64

offnet_mou_6 has number of categories as : [ 32.24   0.    53.99 ... 617.98 360.88 575.46]
96.48      2774
0.00       2570
1.01         32
0.01         30
0.58         25
           ...
134.03        1
317.68        1
368.33        1
1586.21       1
575.46        1
Name: offnet_mou_6, Length: 26254, dtype: int64

offnet_mou_7 has number of categories as : [ 96.68  25.99  82.05 ... 772.53 645.89 236.61]
91.885      2687
0.000       2647
0.530         24
0.280         24
0.330         24
            ...
242.740        1
1540.930       1
135.380        1
1165.940       1
236.610        1
Name: offnet_mou_7, Length: 26140, dtype: int64

offnet_mou_8 has number of categories as : [  2.33  30.89   0.   ...  79.16 783.66 263.84]
91.80     3703
0.00      2961
0.03        31
1.01        28
0.21        26
          ...
347.34       1
461.01       1
504.33       1
103.01       1
263.84       1
Name: offnet_mou_8, Length: 25996, dtype: int64

roam_ic_mou_6 has number of categories as : [  0.    53.64  28.26 ... 221.03  48.39 377.24]
0.00      56424
1.01         60
1.03         31
0.93         30
0.71         30
          ...
274.36        1
130.74        1
0.49          1
327.04        1
377.24        1
Name: roam_ic_mou_6, Length: 5306, dtype: int64

roam_ic_mou_7 has number of categories as : [  0.    11.31   7.23 ...  64.53 189.64  37.41]
0.00      59626
1.01         57
0.20         33
0.51         29
0.05         27
          ...
27.08         1
109.46        1
100.56        1
30.54         1
37.41         1
Name: roam_ic_mou_7, Length: 4240, dtype: int64

roam_ic_mou_8 has number of categories as : [  0.    47.81   3.46 ... 199.44  51.84 506.26]
0.00      59896
1.01         46
0.25         31
0.30         30
0.28         30
          ...
26.93         1
248.26        1
403.68        1
279.13        1
506.26        1
Name: roam_ic_mou_8, Length: 4252, dtype: int64

roam_og_mou_6 has number of categories as : [  0.    15.73  47.81 ... 132.41 411.63 325.79]
0.00      56348
0.21         50
1.01         32
0.23         27
0.33         26
          ...
38.64         1
306.26        1
164.71        1
57.94         1
325.79        1
Name: roam_og_mou_6, Length: 6568, dtype: int64

roam_og_mou_7 has number of categories as : [  0.    50.88  32.28 ...  58.44 522.48  12.99]
0.00      59630
1.01         26
0.01         22
0.43         21
0.21         20
          ...
96.29         1
20.14         1
147.21        1
75.34         1
12.99         1
Name: roam_og_mou_7, Length: 5305, dtype: int64

roam_og_mou_8 has number of categories as : [  0.     1.63  21.74 ... 234.68 100.34  99.89]
0.00      59987
0.23         21
0.55         21
0.03         20
0.51         19
          ...
166.18        1
22.06         1
454.53        1
1.34          1
99.89         1
Name: roam_og_mou_8, Length: 5215, dtype: int64

loc_og_t2t_mou_6 has number of categories as : [  2.23   0.     0.53 ... 277.33 479.63 140.89]
0.00      11140
11.91      2782
0.33        100
0.31         78
0.48         77
          ...
121.68        1
161.08        1
298.43        1
280.74        1
140.89        1
Name: loc_og_t2t_mou_6, Length: 11491, dtype: int64

loc_og_t2t_mou_7 has number of categories as : [  0.    12.98   3.94 ... 541.39 151.81 365.33]
0.00       11016
11.58       2698
0.48          81
1.01          79
0.43          78
           ...
264.14         1
263.23         1
121.91         1
1331.94        1
365.33         1
Name: loc_og_t2t_mou_7, Length: 11359, dtype: int64

loc_og_t2t_mou_8 has number of categories as : [2.8000e-01 0.0000e+00 6.1300e+00 ... 3.5969e+02 3.7714e+02 1.7808e+02]
0.00      10937
11.74      3725
0.38         97
0.48         89
0.33         85
          ...
130.06        1
666.36        1
169.81        1
279.78        1
178.08        1
Name: loc_og_t2t_mou_8, Length: 11296, dtype: int64

loc_og_t2m_mou_6 has number of categories as : [  5.29   0.    24.11 ... 104.49 756.38 559.89]
0.00       6569
41.03      2775
0.23         41
1.01         39
0.56         39
           ...
1349.04       1
125.18        1
198.34        1
13.55         1
559.89        1
Name: loc_og_t2m_mou_6, Length: 17848, dtype: int64

loc_og_t2m_mou_7 has number of categories as : [ 16.04   0.    44.89 ... 741.93 135.53 613.59]
0.00      6337
40.17     2687
0.53        48
0.33        40
0.78        38
          ...
235.28       1
308.16       1
550.64       1
621.59       1
613.59       1
Name: loc_og_t2m_mou_7, Length: 17642, dtype: int64

loc_og_t2m_mou_8 has number of categories as : [  2.33   0.    23.63 ... 295.39 679.89 671.84]
0.00      6440
40.35     3703
0.01        44
0.21        42
0.73        41
          ...
489.06       1
462.74       1
101.03       1
245.96       1
671.84       1
Name: loc_og_t2m_mou_8, Length: 17617, dtype: int64

loc_og_t2f_mou_6 has number of categories as : [  0.    11.99   2.41 ...  33.13  20.49 142.58]
0.00      42290
0.28        149
0.33        141
0.35        139
0.43        138
          ...
29.39         1
35.83         1
58.93         1
79.73         1
142.58        1
Name: loc_og_t2f_mou_6, Length: 3376, dtype: int64

loc_og_t2f_mou_7 has number of categories as : [  0.     1.23   3.43 ...  41.63  39.46 141.26]
0.00      41896
0.38        156
0.36        154
0.33        149
0.41        149
          ...
81.06         1
69.44         1
42.61         1
21.50         1
141.26        1
Name: loc_og_t2f_mou_7, Length: 3365, dtype: int64

loc_og_t2f_mou_8 has number of categories as : [0.0000e+00 5.0100e+00 1.3000e-01 ... 1.7149e+02 3.1330e+01 1.2558e+02]
0.00      42662
0.23        149
0.30        147
0.25        142
0.48        142
          ...
69.24         1
53.81         1
74.16         1
77.76         1
125.58        1
Name: loc_og_t2f_mou_8, Length: 3311, dtype: int64

loc_og_t2c_mou_6 has number of categories as : [ 0.    2.14 11.5  ... 83.89 18.39 20.48]
0.00     56711
0.01       143
0.03       130
0.06       122
0.08       118
         ...
19.60        1
21.21        1
17.89        1
23.98        1
20.48        1
Name: loc_og_t2c_mou_6, Length: 1945, dtype: int64

loc_og_t2c_mou_7 has number of categories as : [ 0.   22.01  9.85 ... 27.19 27.74 11.51]
0.00     55776
0.01       151
0.06       125
0.08       119
0.03       111
         ...
43.69        1
32.79        1
37.36        1
17.28        1
11.51        1
Name: loc_og_t2c_mou_7, Length: 2103, dtype: int64

loc_og_t2c_mou_8 has number of categories as : [ 0.   29.79  8.03 ... 18.74 17.78 53.61]
0.00     55141
0.01       178
0.13       140
0.03       126
0.06       125
         ...
41.43        1
19.40        1
67.14        1
16.36        1
53.61        1
Name: loc_og_t2c_mou_8, Length: 2204, dtype: int64

loc_og_mou_6 has number of categories as : [  7.53   0.    24.64 ... 861.79 574.83 362.91]
0.00      5710
65.19     2773
0.23        32
0.63        31
0.58        27
          ...
375.39       1
253.09       1
955.03       1
360.11       1
362.91       1
Name: loc_og_mou_6, Length: 22309, dtype: int64

loc_og_mou_7 has number of categories as : [  16.04    0.     12.98 ...  201.66 1113.71  747.66]
0.00       5565
63.43      2694
0.33         29
0.93         29
0.01         27
           ...
278.51        1
1668.73       1
260.63        1
377.88        1
747.66        1
Name: loc_og_mou_7, Length: 22012, dtype: int64

loc_og_mou_8 has number of categories as : [   2.61    0.     23.63 ... 1070.94  850.83  342.29]

0.00      5700
63.52     3703
0.01        29
0.23        28
0.43        27
          ...
407.68       1
541.99       1
256.56       1
149.18       1
342.29       1
Name: loc_og_mou_8, Length: 21951, dtype: int64

std_og_t2t_mou_6 has number of categories as : [4.6340e+01 0.0000e+00 2.6000e-01 ... 3.3709e+02 7.4931e+02 2.5811e+02]
0.00      39256
0.48         52
0.43         49
0.30         43
0.01         43
          ...
539.78        1
377.26        1
96.83         1
93.63         1
258.11        1
Name: std_og_t2t_mou_6, Length: 14554, dtype: int64

std_og_t2t_mou_7 has number of categories as : [124.38   0.     2.94 ... 461.18 780.59 427.58]
0.00      39364
0.66         47
0.36         46
1.01         45
0.26         43
          ...
715.14        1
16.11         1
586.68        1
570.03        1
427.58        1
Name: std_og_t2t_mou_7, Length: 14745, dtype: int64

std_og_t2t_mou_8 has number of categories as : [  1.01   0.    95.03 ... 132.16 306.16 428.68]
0.00      40215
0.31         56
0.50         52
0.28         48
0.56         47
          ...
379.76        1
313.28        1
503.49        1
211.13        1
428.68        1
Name: std_og_t2t_mou_8, Length: 14483, dtype: int64

std_og_t2m_mou_6 has number of categories as : [ 18.75   0.    28.94 ... 647.33 419.16  98.34]
0.00      25742
3.98       2788
0.33         70
0.35         69
0.58         65
          ...
966.36        1
58.59         1
106.78        1
427.83        1
98.34         1
Name: std_og_t2m_mou_6, Length: 16059, dtype: int64

std_og_t2m_mou_7 has number of categories as : [ 80.61   0.    82.05 ... 823.16 784.44 414.61]
0.00       26379
3.71        2717
0.31          82
0.33          73
0.51          72
           ...
301.51         1
339.21         1
1324.31        1
194.08         1
414.61         1
Name: std_og_t2m_mou_7, Length: 16234, dtype: int64

std_og_t2m_mou_8 has number of categories as : [0.0000e+00 4.6000e+00 1.1000e-01 ... 8.7644e+02 7.2739e+02 2.9014e+02]
0.00      26433
3.30       3712
1.01         72
0.58         70
0.38         70
          ...
687.91        1
302.14        1
219.09        1
141.11        1
290.14        1
Name: std_og_t2m_mou_8, Length: 15968, dtype: int64

std_og_t2f_mou_6 has number of categories as : [ 0.    0.56  2.08 ... 44.59 20.66 65.14]
0.00     61848
0.61        50
0.18        47
0.53        46
0.40        46
         ...
33.60        1
29.61        1
15.00        1
33.03        1
65.14        1
Name: std_og_t2f_mou_6, Length: 2074, dtype: int64

std_og_t2f_mou_7 has number of categories as : [ 0.    0.7  45.18 ... 10.55  9.99 68.08]
0.00      62446
0.83         42
0.28         41
0.21         40
0.43         38
          ...
441.26        1
58.61         1
19.49         1
12.63         1
68.08         1
Name: std_og_t2f_mou_7, Length: 1991, dtype: int64

std_og_t2f_mou_8 has number of categories as : [ 0.    6.26  2.06 ... 13.23 42.54 12.29]
0.00     62480
0.41        46
0.25        44
0.35        44
0.28        41
         ...
13.44        1
9.91         1
23.29        1
38.15        1
12.29        1
Name: std_og_t2f_mou_8, Length: 1945, dtype: int64

std_og_t2c_mou_6 has number of categories as : [0.]
0.0    69999
Name: std_og_t2c_mou_6, dtype: int64

std_og_t2c_mou_7 has number of categories as : [0.]
0.0    69999
Name: std_og_t2c_mou_7, dtype: int64

std_og_t2c_mou_8 has number of categories as : [0.]
0.0    69999
Name: std_og_t2c_mou_8, dtype: int64

std_og_mou_6 has number of categories as : [ 65.09   0.    28.94 ... 752.98 484.49 553.36]
0.00       20627
11.73       2777
0.58          68
0.48          66
0.35          65
           ...
172.31         1
83.93          1
359.23         1
1470.09        1
553.36         1
Name: std_og_mou_6, Length: 21837, dtype: int64

std_og_mou_7 has number of categories as : [204.99   0.    84.99 ... 378.03 792.36 184.76]
0.00      21390
11.26      2697
0.31         74
0.33         69
0.28         68
          ...
751.94        1
965.04        1
260.73        1
467.48        1
184.76        1
Name: std_og_mou_7, Length: 22088, dtype: int64

std_og_mou_8 has number of categories as : [  1.01   0.     4.6  ... 727.39 293.88 224.09]
0.000      21341
10.505      3703
1.010         70
0.500         64
0.660         64
           ...
347.960        1
923.010        1
418.310        1
898.390        1
224.090        1
Name: std_og_mou_8, Length: 21746, dtype: int64

isd_og_mou_6 has number of categories as : [0.000e+00 5.000e-02 2.669e+01 ... 7.486e+01 3.404e+01 6.560e+00]
0.00     66665
1.01        82
0.01        80
0.03        64
0.06        47
         ...
11.26        1
34.54        1
53.11        1
8.45         1
6.56         1
Name: isd_og_mou_6, Length: 1103, dtype: int64

isd_og_mou_7 has number of categories as : [ 0.    0.1   3.73 ... 56.76 13.76 14.31]
0.00     66867
0.01        75
1.01        68
0.03        54
0.05        48
         ...
3.35         1
24.33        1
27.58        1
16.93        1
14.31        1
Name: isd_og_mou_7, Length: 1084, dtype: int64

isd_og_mou_8 has number of categories as : [ 0.    0.9  14.83 ... 44.08 17.14 25.49]
0.00     67087
0.01        75
0.03        65
1.01        51
0.06        45
         ...
67.40        1
16.35        1
72.93        1
3.48         1
25.49        1
Name: isd_og_mou_8, Length: 1008, dtype: int64

spl_og_mou_6 has number of categories as : [ 8.2   0.    2.89 ... 60.28 47.51 49.54]
0.00     40875
0.21       270
0.01       254
0.03       204
0.08       180
         ...
21.00        1
47.48        1
45.46        1
70.13        1
49.54        1
Name: spl_og_mou_6, Length: 3503, dtype: int64

spl_og_mou_7 has number of categories as : [ 0.63 30.73  1.38 ... 48.23 34.74 14.05]
0.00      38074
0.01        267
0.06        178
0.21        175
0.03        172
          ...
48.08         1
284.41        1
85.53         1
39.89         1
14.05         1
Name: spl_og_mou_7, Length: 3827, dtype: int64

spl_og_mou_8 has number of categories as : [ 0.   31.66 25.61 ... 73.71 44.79 21.11]
0.00      37409
0.01        253
0.03        193
0.06        192
0.08        183
          ...
350.44        1
14.40         1
48.19         1
102.86        1
21.11         1
Name: spl_og_mou_8, Length: 3848, dtype: int64

og_others_6 has number of categories as : [3.8000e-01 0.0000e+00 6.2300e+00 1.0000e-01 2.1000e-01 1.4540e+01
 5.8000e-01 8.9000e-01 3.7800e+00 2.2800e+00 1.4300e+00 6.0000e-02
 9.0600e+00 5.8600e+00 5.3000e-01 8.5000e-01 1.3300e+00 1.0300e+00
 2.1100e+00 2.1500e+00 1.5100e+00 7.3000e-01 1.6100e+00 1.6400e+00
 5.6600e+00 1.5900e+00 2.8300e+00 7.8000e-01 1.9600e+00 3.1000e+00
 3.1600e+00 3.6100e+00 1.2900e+00 1.2600e+00 1.8400e+00 1.5000e+00
 3.3400e+00 4.6000e-01 2.1800e+00 7.0000e-01 2.5400e+00 1.1000e-01
 3.5000e-01 9.0000e-01 6.8000e-01 1.7800e+00 8.6400e+00 1.1000e+00
 7.3800e+00 5.0000e-01 6.5000e-01 2.5600e+00 2.5000e-01 4.1300e+00
 2.3000e-01 1.7400e+00 7.0800e+00 1.7000e+00 9.1000e-01 2.0000e-01
 2.7600e+00 2.1300e+00 6.6000e-01 3.3000e-01 3.7400e+00 2.8800e+00
 7.1900e+00 1.0000e-02 3.8100e+00 4.3000e-01 2.3600e+00 1.0800e+00
 2.0960e+01 3.9400e+00 6.5300e+00 7.1000e-01 3.6600e+00 5.5000e-01
 8.6000e-01 5.6000e-01 2.1000e+00 1.5300e+00 1.8500e+00 1.4600e+00
 3.9300e+00 4.4100e+00 7.0400e+00 4.0000e-01 6.1000e-01 6.3000e-01
 2.0900e+00 5.5100e+00 1.5400e+00 1.1400e+00 2.6600e+00 1.4400e+00
 4.8000e+00 5.0300e+00 3.7100e+00 2.7100e+00 1.4800e+00 5.0000e-02
 1.6300e+00 1.4740e+01 3.3500e+00 3.3800e+00 5.3900e+00 2.6100e+00
 4.8300e+00 1.2800e+00 8.8000e-01 6.6400e+00 4.4800e+00 6.6600e+00
 8.3000e-01 3.1400e+00 1.1600e+00 5.0800e+00 1.3100e+00 4.3100e+00
 7.1300e+00 1.1300e+00 2.3400e+00 1.7240e+01 7.9000e-01 2.8000e-01
 1.0100e+00 2.0100e+00 1.8300e+00 5.1000e-01 3.2900e+00 1.3290e+01
 4.5400e+00 3.0000e-01 1.6500e+00 2.6000e-01 9.9000e-01 1.3500e+00
 6.0000e-01 4.0300e+00 3.7300e+00 7.5000e-01 1.7480e+01 8.4000e-01
 2.9840e+01 1.8000e-01 3.2600e+00 3.7600e+00 8.5300e+00 9.4600e+00
 5.4100e+00 1.0900e+00 3.0100e+00 7.2400e+00 3.2100e+00 1.5800e+00
 1.8600e+00 7.8400e+00 1.1430e+01 6.4100e+00 5.8300e+00 3.1000e-01
 1.0600e+00 1.1090e+01 3.7900e+00 2.4000e-01 2.4800e+00 2.5300e+00
 1.6000e-01 3.4800e+00 6.7600e+00 4.2800e+00 5.5400e+00 8.0089e+02
 3.8400e+00 1.9800e+00 3.9100e+00 4.4900e+00 7.4900e+00 3.5300e+00
 7.2800e+00 2.3800e+00 1.2300e+00 4.3900e+00 2.9000e+00 1.7880e+01
 1.7100e+00 9.8000e-01 4.5000e-01 6.4000e-01 4.1000e-01 9.2600e+00
 2.7300e+00 3.8600e+00 1.8100e+00 3.9800e+00 1.3800e+00 2.7230e+01
 1.0400e+00 2.5900e+00 2.4400e+00 9.4000e-01 1.0160e+01 2.6500e+00
 4.9100e+00 9.3000e-01 7.6000e-01 4.4300e+00 5.7100e+00 8.1000e-01
 3.0600e+00 1.1500e+00 1.3400e+00 4.6300e+00 2.2100e+00 8.3300e+00
 1.6800e+00 3.1900e+00 1.6000e+00 2.0400e+00 4.8000e-01 3.2800e+00
 5.4300e+00 2.0500e+00 3.3600e+00 4.5000e+00 2.7000e+00 3.1300e+00
 2.3100e+00 2.7900e+00 1.5600e+00 3.2400e+00 4.8100e+00 1.1900e+00
 2.9300e+00 3.1800e+00 3.4400e+00 2.1900e+00 4.0000e-02 2.0800e+00
 2.1400e+00 1.3600e+00 7.6300e+00 1.2400e+00 1.7440e+01 2.9500e+00
 1.3890e+01 3.6300e+00 1.1660e+01 3.4600e+00 2.4500e+00 1.1100e+00
 8.0000e-01 2.6900e+00 2.2300e+00 1.9500e+00 2.4900e+00 6.4800e+00
 1.4100e+00 1.9100e+00 2.9900e+00 3.6400e+00 3.8800e+00 1.1800e+00
 4.8600e+00 1.3000e-01 4.3400e+00 3.5600e+00 3.3900e+00 1.7900e+00
 3.6000e-01 4.5800e+00 3.6900e+00 2.7780e+01 3.5900e+00 8.2900e+00
 2.0300e+00 6.9300e+00 3.1500e+00 2.7400e+00 1.0500e+00 2.4600e+00
 4.7400e+00 9.6000e-01 8.1300e+00 1.9400e+00 5.0400e+00 3.0000e-02
 2.3300e+00 3.6000e+00 8.5900e+00 1.4500e+00 8.6100e+00 7.5800e+00
 3.1100e+00 1.3490e+01 7.3900e+00 4.0800e+00 1.6600e+00 1.8000e+00
 4.5300e+00 6.7300e+00 1.9300e+00 2.3000e+00 4.0100e+00 1.3590e+01
 5.6300e+00 1.1280e+01 5.0900e+00 4.3500e+00 3.0300e+00 1.8900e+00
 4.2900e+00 4.1800e+00 3.5100e+00 2.8400e+00 3.4000e-01 5.5800e+00
 1.0980e+01 6.0900e+00 2.2000e+00 4.3800e+00 4.3600e+00 8.4900e+00
 4.2300e+00 5.1100e+00 4.2400e+00 5.4600e+00 2.2400e+00 6.7800e+00
 3.8900e+00 2.9800e+00 1.7600e+00 2.6300e+00 3.0900e+00 3.4300e+00
 1.0540e+01 8.7100e+00 4.1600e+00 2.6800e+00 1.9900e+00 9.5900e+00
 3.6800e+00 1.0000e+00 2.4300e+00 3.4000e+00 5.7600e+00 1.8800e+00
 2.6400e+00 5.6400e+00 2.1600e+00 5.0600e+00 7.4300e+00 6.1300e+00
 2.9600e+00 1.5500e+00 1.4000e+00 5.9000e-01 1.7300e+00 3.3100e+00
 1.3900e+00 4.6900e+00 4.5600e+00 4.9400e+00 6.4300e+00 6.4600e+00
 3.2300e+00 3.0800e+00 3.0500e+00 2.2680e+01 7.2100e+00 4.0900e+00
 9.5000e-01 8.8600e+00 1.3000e+00 8.4600e+00 5.3100e+00 7.7400e+00
 7.8600e+00 5.4000e-01 4.0126e+02 3.5800e+00 1.2580e+01 7.5900e+00
 8.0600e+00 1.1630e+01 3.5400e+00 1.1480e+01 7.9500e+00 1.5000e-01
 5.9600e+00 2.2710e+01 6.5400e+00 7.5100e+00 5.3300e+00 2.7500e+00
 4.4600e+00 1.6900e+00 4.7800e+00 3.9000e-01 6.2100e+00 1.8380e+01
 2.4100e+00 1.7500e+00 2.2600e+00 6.8900e+00 7.3100e+00 8.0000e-02
 5.4400e+00 2.0600e+00 4.7300e+00 4.3300e+00 4.6800e+00 6.2000e+00
 7.8100e+00 8.8100e+00 3.4900e+00 9.0400e+00 3.0740e+01 9.7300e+00
 4.4400e+00 3.4100e+00 2.7800e+00 4.9800e+00 4.0000e+00 2.8900e+00
 4.0400e+00 1.5510e+01 1.4900e+00 6.6800e+00 9.6300e+00 3.6500e+00
 4.1400e+00 5.3400e+00 7.1600e+00 2.8100e+00 1.3130e+01 6.3300e+00
 1.2590e+01 4.7600e+00 5.1600e+00 2.0440e+01 7.2300e+00 2.0000e+00
 7.5300e+00 2.8600e+00 2.5100e+00 5.8100e+00 6.5800e+00 3.9900e+00
 1.2500e+00 4.9000e-01 4.7900e+00 9.9300e+00 3.8000e+00 4.4000e-01
 4.9600e+00 3.8300e+00 8.0800e+00 1.5790e+01 6.0400e+00 6.3400e+00
 9.1400e+00 7.8900e+00 7.7800e+00 5.7900e+00 7.4000e-01 4.8800e+00
 6.9000e-01 1.1440e+01 9.7100e+00 7.0300e+00 5.5600e+00 6.9800e+00
 6.3100e+00 6.8600e+00 7.6600e+00 8.2100e+00 9.7400e+00 5.7800e+00
 8.1100e+00 5.1800e+00 8.1800e+00 4.0600e+00 5.2100e+00 1.2100e+00
 4.2100e+00 4.7100e+00 1.2000e+00 2.5800e+00 6.4400e+00 7.9900e+00
 7.7300e+00 2.9100e+00 1.0360e+01 1.3630e+01 4.2600e+00 1.0010e+01
 1.5610e+01 1.9000e+00 1.3750e+01 1.0530e+01 4.6600e+00 4.5100e+00
 2.7360e+01 2.0840e+01 3.7780e+01 3.3300e+00 8.7800e+00 1.3730e+01
 6.3800e+00 8.8300e+00 7.6100e+00 5.9900e+00 8.1600e+00 7.0100e+00
 5.0100e+00 1.0760e+01 5.2400e+00 1.7410e+01 2.3500e+00 6.0580e+01
 1.2890e+01 5.3800e+00 2.9400e+00 2.5500e+00 7.5500e+00 9.2300e+00
 6.2800e+00 5.9800e+00 2.6000e+00 1.2440e+01 9.8400e+00 1.1180e+01
 3.7000e+00 6.0100e+00 2.2900e+00 6.6900e+00 9.8600e+00 4.9300e+00
 1.7330e+01 6.4900e+00 4.6400e+00 5.9100e+00 9.4300e+00 2.3900e+00
 1.1130e+01 1.4510e+01 6.1400e+00 1.0030e+01 4.5900e+00 5.2800e+00
 6.0600e+00 3.5500e+00 5.3600e+00 6.1900e+00 6.6300e+00 6.5900e+00
 5.8800e+00 7.4210e+01 4.3000e+00 1.0710e+01 2.6060e+01 8.5600e+00
 5.6900e+00 4.1100e+00 1.3160e+01 6.0300e+00 5.5900e+00 8.0300e+00
 3.0400e+00 3.5000e+00 8.6300e+00 5.9400e+00 5.2300e+00 6.7900e+00
 4.5500e+00 8.3100e+00 5.6100e+00 1.4000e-01 1.9510e+01 3.2000e+00
 6.2400e+00 6.9600e+00 1.0340e+01 5.2900e+00 4.9900e+00 5.9300e+00
 8.5800e+00 1.8740e+01 1.1710e+01 7.7600e+00 3.9600e+00 2.8500e+00
 4.8900e+00 7.8800e+00 5.2000e+00 6.5600e+00 6.7400e+00 3.0000e+00
 1.8160e+01 1.0280e+01 6.9400e+00 1.1940e+01 7.5600e+00 1.3180e+01
 1.0380e+01 5.4900e+00 6.1100e+00 1.1380e+01 8.6000e+00 1.7980e+01
 4.1900e+00 1.5810e+01 1.3240e+01 1.1310e+01 8.3900e+00 9.5100e+00
 4.4500e+00 1.5890e+01 7.6400e+00 9.9100e+00 8.2300e+00 7.7100e+00
 4.7500e+00 6.8100e+00 5.7300e+00 5.6800e+00 5.1400e+00 1.2760e+01
 1.1030e+01 1.3280e+01 8.8000e+00 6.9100e+00 4.0830e+01 6.5100e+00
 8.9100e+00 1.1880e+01 1.1790e+01 3.3000e+00 5.8900e+00 5.5300e+00
 7.4800e+00 1.0490e+01 4.1000e+00 1.2050e+01 8.9600e+00 1.1690e+01
 1.3310e+01 1.1740e+01 8.1900e+00 7.0600e+00 1.3340e+01 1.1840e+01
 1.2660e+01 6.1800e+00 4.6100e+00 8.8900e+00 5.2600e+00 2.7560e+01
 1.2330e+01 6.3900e+00 2.8000e+00 1.1290e+01 9.3300e+00 1.1990e+01
 2.1860e+01 9.8300e+00 2.4000e+00 6.7100e+00 1.0630e+01 4.0610e+01
 8.4100e+00 1.6780e+01 9.2800e+00 8.0100e+00 8.2600e+00 1.1730e+01
 8.8800e+00 1.1160e+01 8.9400e+00 8.2800e+00 1.0990e+01 5.2290e+01
 6.3500e+00 1.2730e+01 7.1100e+00 6.1600e+00 6.0800e+00 5.1500e+00
 1.0210e+01 9.2100e+00 7.1400e+00 6.8400e+00 2.5000e+00 1.1330e+01
 6.6100e+00 5.8400e+00 5.4800e+00 9.2900e+00 3.2378e+02 6.2600e+00
 1.0390e+01 1.2090e+01 6.8800e+00 1.3960e+01 7.2900e+00 5.1900e+00
 1.3410e+01 1.0510e+01 1.0330e+01 8.5100e+00 9.5300e+00 1.1230e+01
 3.8500e+00 2.0540e+01 1.2160e+01 5.4500e+00 1.6080e+01 8.9800e+00
 1.1780e+01 7.3600e+00 1.0640e+01 1.5410e+01 9.4400e+00 1.2060e+01
 1.6110e+01 7.6900e+00 1.6610e+01 1.5590e+01 4.8400e+00 8.0900e+00
 6.8300e+00 9.6100e+00 1.7160e+01 8.9300e+00 9.1900e+00 5.1300e+00
 7.6800e+00 1.0310e+01 1.6010e+01 1.0910e+01 1.7490e+01 2.7069e+02
 1.1980e+01 1.0180e+01 7.8300e+00 8.6600e+00 2.4340e+01 9.0900e+00
 1.3690e+01 1.2350e+01 3.9500e+00 8.1400e+00 1.5130e+01 7.3300e+00
 1.5010e+01 8.0500e+00 8.7600e+00 8.5400e+00 2.6360e+01 6.0981e+02
 1.3530e+01 2.9000e-01 3.4500e+00 1.0950e+01 2.7510e+01 4.6000e+00
 9.1100e+00 4.0500e+00 1.0740e+01 1.2960e+01 1.7900e+01 4.6940e+01
 4.1160e+01 1.6730e+01 1.7730e+01 2.8740e+01 2.0510e+01 4.8500e+00
 1.5190e+01 1.3710e+01 1.2410e+01 1.2860e+01 1.0660e+01 7.9800e+00
 1.2140e+01 1.0590e+01 1.2680e+01 8.4400e+00 2.2500e+00 9.7600e+00
 1.2260e+01 1.4980e+01 1.3760e+01 3.1080e+01 9.9600e+00 7.1800e+00
 7.9100e+00 1.3910e+01 1.3540e+01 7.2600e+00 7.9600e+00 1.2040e+01
 1.0960e+01 7.4600e+00 1.1900e+01 1.3080e+01 2.8710e+01 1.3030e+01
 1.0790e+01 1.3230e+01 1.8210e+01 2.3530e+01 9.5400e+00 1.1360e+01
 6.1030e+01 1.3010e+01 1.0190e+01 1.6480e+01 1.4940e+01 1.2310e+01
 2.1340e+01 1.4460e+01 1.2010e+01 4.0340e+01 1.3930e+01 1.8710e+01
 1.1930e+01 3.1140e+01 1.3680e+01 6.4000e+00 9.2400e+00 1.3510e+01
 1.1390e+01 9.4100e+00 1.0140e+01 7.5000e+00 6.3600e+00 1.5540e+01
 1.1510e+01 7.9300e+00 1.8830e+01 6.2900e+00 6.9900e+00 1.7110e+01
 1.7710e+01 9.6900e+00 9.8800e+00 1.0130e+01 3.0410e+01 1.7590e+01
 5.8660e+01 5.1000e+00 5.7500e+00 5.5500e+00 1.1960e+01 4.2530e+01
 7.9400e+00 8.7900e+00 9.8100e+00 2.0030e+01 9.8900e+00 1.9880e+01
 6.7690e+01 8.9000e+00 8.3800e+00 5.5000e+00 1.1410e+01 2.7180e+01
 3.1190e+01 1.0940e+01 1.8040e+01 1.4430e+01 1.2640e+01 1.9090e+01
 9.5800e+00 1.6280e+01 8.6900e+00 3.7500e+00 1.3580e+01 2.0460e+01
 1.3350e+01 9.0300e+00 6.8000e+00 2.0160e+01 2.0380e+01 9.3400e+00
 1.9480e+01 1.4480e+01 4.1500e+00 9.3600e+00 1.0600e+01 1.0410e+01
 1.8110e+01 5.2500e+00 9.1500e+00 1.5480e+01 3.2500e+00 6.2500e+00
 1.0440e+01 9.3100e+00 8.3400e+00 1.4660e+01 1.2910e+01 1.4790e+01
 1.0610e+01 1.5340e+01 1.2610e+01 9.6400e+00 7.0900e+00 1.3810e+01
 6.4500e+00 2.0990e+01]
0.00     58131
0.21       413
0.43       155
0.20       111
0.65       102
         ...
12.06        1
16.11        1
16.61        1
15.59        1
20.99        1
Name: og_others_6, Length: 914, dtype: int64

og_others_7 has number of categories as : [0.0000e+00 7.1300e+00 2.8000e-01 1.1100e+00 2.1000e-01 1.1500e+00
 2.2471e+02 5.5000e-01 1.4600e+00 3.8000e-01 8.3900e+00 7.6800e+00
 2.4330e+01 1.3300e+01 3.0000e-02 1.0000e-02 2.3900e+00 5.8000e-01
 5.3000e-01 1.0600e+00 1.6000e-01 2.7024e+02 1.0000e+00 4.2930e+01
 2.0000e-01 8.1000e-01 1.1300e+00 9.0000e-01 1.0300e+00 2.9800e+00
 8.3000e-01 1.1000e-01 7.6000e+00 6.6000e-01 3.2400e+00 8.5000e-01
 3.6000e-01 6.7100e+00 1.2300e+00 2.2800e+00 2.7900e+00 1.0000e-01
 5.0000e-02 1.4100e+00 1.5000e-01 9.1000e-01 6.8300e+00 6.8400e+00
 6.3000e-01 4.3300e+00 7.8000e-01 5.6000e-01 8.5900e+00 2.1800e+00
 8.6900e+00 1.3600e+00 7.6400e+00 8.2800e+00 2.3500e+00 3.7300e+00
 5.1000e-01 2.3560e+01 2.3000e+00 6.4800e+00 4.3100e+00 1.2600e+00
 3.5000e-01 7.5000e-01 2.1100e+00 9.6000e-01 9.5000e-01 6.3900e+00
 4.1000e-01 1.2880e+01 6.1000e-01 3.3000e-01 3.4100e+00 1.7100e+00
 4.0000e-01 1.3300e+00 2.3400e+00 5.0000e-01 2.1510e+01 1.1800e+00
 1.4150e+01 5.1560e+01 1.3000e+00 1.8000e-01 8.3300e+00 8.8100e+00
 8.8000e-01 3.3800e+00 1.0500e+00 1.1630e+01 3.0000e-01 2.3600e+00
 7.7430e+01 2.0100e+00 7.4800e+00 1.7040e+01 1.1930e+01 1.6900e+00
 7.0000e-01 6.0000e-02 2.7500e+00 4.6000e-01 2.5000e-01 1.5300e+00
 2.3300e+00 2.0300e+00 9.7400e+00 6.0900e+00 6.4100e+00 2.0800e+00
 1.3000e-01 1.2000e+00 1.8300e+00 4.6100e+00 9.8000e-01 1.6100e+00
 3.4400e+00 1.7980e+01 1.4560e+01 6.3800e+00 4.5000e-01 2.2194e+02
 2.4100e+00 8.4300e+00 2.8960e+01 1.6500e+00 1.0840e+01 7.3000e-01
 6.5680e+01 2.7300e+00 6.6560e+01 1.2760e+01 3.6500e+00 6.5600e+00
 2.5000e+00 3.1000e-01 1.9800e+00 9.3000e-01 1.3780e+01 3.5800e+00
 1.8100e+00 6.2500e+00 7.1000e-01 1.9100e+00]
0.00     69759
0.16        12
0.33         6
0.05         6
0.38         5
         ...
42.93        1
3.41         1
1.13         1
7.13         1
1.91         1
Name: og_others_7, Length: 148, dtype: int64

og_others_8 has number of categories as : [0.0000e+00 4.0000e-01 1.5160e+01 1.8000e+00 8.0000e-02 1.2600e+00
 3.0400e+00 3.9760e+01 2.2600e+00 9.8000e-01 7.8000e-01 1.6500e+00
 1.6800e+00 9.3000e-01 4.4600e+00 1.0300e+00 1.1000e-01 2.4240e+01
 1.5000e-01 9.8400e+00 4.1800e+00 1.4060e+01 3.0000e-01 4.3600e+00
 2.8400e+00 1.7400e+00 1.6000e-01 3.5000e-01 2.5000e-01 5.5000e-01
 1.0000e-01 6.0000e-02 1.4500e+00 2.3100e+00 6.6000e-01 2.1000e-01
 3.0000e-02 8.5800e+00 2.6900e+00 3.3000e-01 6.9000e-01 1.7300e+00
 1.3000e-01 5.0300e+00 1.3610e+01 3.2600e+00 2.5600e+00 4.3300e+00
 6.3000e-01 7.3000e-01 1.5300e+00 1.0000e+00 4.1000e-01 1.5900e+00
 2.2300e+00 4.3510e+01 2.4100e+00 5.8600e+00 5.1100e+00 4.3000e-01
 2.0300e+00 1.0000e-02 1.8600e+00 2.5100e+00 1.3590e+01 1.0166e+02
 1.1000e+00 2.3000e-01 8.5000e-01 3.1100e+00 8.8000e-01 2.8600e+00
 9.0000e-01 3.9900e+00 1.8000e-01 2.8000e-01 3.8800e+00 1.2800e+00
 4.6100e+00 2.0900e+00 1.8500e+00 4.8000e-01 3.8000e-01 5.2400e+00
 2.8636e+02 8.1100e+00 4.6000e-01 5.0000e-02 4.0500e+01 1.6090e+01
 1.3740e+01 5.0800e+00 4.5000e-01 6.5000e-01 1.6000e+00 2.8900e+00
 1.0590e+01 1.8800e+00 1.6450e+01 5.8000e-01 2.6800e+00 1.7000e+00
 2.1300e+00 6.4400e+00 1.6600e+00 2.7800e+00 1.3100e+00 7.1000e-01
 8.3000e-01 8.0000e-01 1.0600e+00 8.6300e+00 2.4600e+00 1.7941e+02
 4.4400e+00 6.3380e+01 9.1000e-01 2.3900e+00 3.4100e+00 9.4900e+00

0.00      40858
0.03        236
0.01        153
0.05        133
0.23        121
          ...
66.81         1
44.08         1
53.23         1
48.31         1
283.79        1
Name: std_ic_t2t_mou_7, Length: 5479, dtype: int64

std_ic_t2t_mou_8 has number of categories as : [  0.21   0.     2.95 ...  33.53 164.66  65.14]
0.00      41271
0.03        207
0.01        148
0.05        141
0.06        129
          ...
157.08        1
124.08        1
162.31        1
59.76         1
65.14         1
Name: std_ic_t2t_mou_8, Length: 5367, dtype: int64

std_ic_t2m_mou_6 has number of categories as : [  7.46   0.    18.21 ... 148.74  34.34 144.89]
0.00      24167
2.04       2791
0.03        150
0.31        138
0.35        135
          ...
311.14        1
178.24        1
53.39         1
192.29        1
144.89        1
Name: std_ic_t2m_mou_6, Length: 7931, dtype: int64

std_ic_t2m_mou_7 has number of categories as : [ 19.96   0.     2.48 ...  97.13 406.19 166.54]
0.00      24315
2.06       2732
0.03        187
0.31        137
0.35        132
          ...
89.39         1
857.03        1
145.61        1
124.53        1
166.54        1
Name: std_ic_t2m_mou_7, Length: 8033, dtype: int64

std_ic_t2m_mou_8 has number of categories as : [ 14.96   0.     6.38 ... 512.04 138.86  53.86]
0.00       23801
2.03        3752
0.03         158
0.36         130
0.33         129
           ...
568.76         1
1184.74        1
182.08         1
51.14          1
53.86          1
Name: std_ic_t2m_mou_8, Length: 7906, dtype: int64

std_ic_t2f_mou_6 has number of categories as : [ 0.    0.33  3.51 ... 24.56 35.49 33.43]
0.00      55642
0.31        129
0.43        123
0.33        119
0.20         98
          ...
21.10         1
206.24        1
170.01        1
49.18         1
33.43         1
Name: std_ic_t2f_mou_6, Length: 2624, dtype: int64

std_ic_t2f_mou_7 has number of categories as : [ 0.    6.44  0.18 ... 12.85 60.91 74.81]
0.00     55596
0.33       125
0.31       121
0.48       114
0.25       105
         ...
79.91        1
98.76        1
71.88        1
16.46        1
74.81        1
Name: std_ic_t2f_mou_7, Length: 2695, dtype: int64

std_ic_t2f_mou_8 has number of categories as : [ 0.    8.13  2.49 ... 54.06 57.01 36.86]
0.00     55623
0.33       117
0.31       109
0.41       100
0.26       100
         ...
39.33        1
53.21        1
27.46        1
71.93        1
36.86        1
Name: std_ic_t2f_mou_8, Length: 2583, dtype: int64

std_ic_t2o_mou_6 has number of categories as : [0.]
0.0    69999
Name: std_ic_t2o_mou_6, dtype: int64

std_ic_t2o_mou_7 has number of categories as : [0.]
0.0    69999
Name: std_ic_t2o_mou_7, dtype: int64

std_ic_t2o_mou_8 has number of categories as : [0.]
0.0    69999
Name: std_ic_t2o_mou_8, dtype: int64

std_ic_mou_6 has number of categories as : [  7.46   0.    29.91 ...  88.29 202.28 197.01]
0.00      16929
5.91       2797
0.35        125
0.43        123
0.31        123
          ...
95.71         1
120.23        1
110.84        1
127.89        1
197.01        1
Name: std_ic_mou_6, Length: 9876, dtype: int64

std_ic_mou_7 has number of categories as : [ 27.58   0.     2.48 ... 471.88 166.54 108.26]
0.00      17020
5.98       2712
0.03        151
0.31        139
0.33        122
          ...
113.04        1
229.54        1
436.08        1
84.51         1
108.26        1
Name: std_ic_mou_7, Length: 10112, dtype: int64

std_ic_mou_8 has number of categories as : [ 15.18   0.     6.38 ... 189.21 595.53 138.86]
0.00      16478
5.83       3729
0.03        127
0.36        121
0.31        118
          ...
149.06        1
141.46        1
146.71        1
19.40         1
138.86        1
Name: std_ic_mou_8, Length: 9939, dtype: int64

total_ic_mou_6 has number of categories as : [ 11.84   3.44 124.29 ... 343.16 578.68 542.18]
0.00      5900
0.18        26
0.20        21
0.23        17
0.28        17
          ...
113.56       1
960.51       1
511.93       1
388.64       1
542.18       1
Name: total_ic_mou_6, Length: 27432, dtype: int64

total_ic_mou_7 has number of categories as : [  53.04   39.44   33.83 ... 1645.94  518.64  399.33]
0.00      5551
0.20        27
0.33        16
0.26        15
7.06        15
          ...
288.41       1
301.98       1
453.86       1
166.63       1
399.33       1
Name: total_ic_mou_7, Length: 27418, dtype: int64

total_ic_mou_8 has number of categories as : [ 40.56  25.04  36.64 ... 131.11   7.55 414.54]
0.00       6467
0.66         17
0.46         17
1.96         15
0.33         15
           ...
4465.19       1
958.46        1
18.85         1
248.54        1
414.54        1
Name: total_ic_mou_8, Length: 27318, dtype: int64

spl_ic_mou_6 has number of categories as : [0.000e+00 4.400e-01 2.600e-01 3.500e-01 1.300e-01 1.900e-01 5.000e-02
 2.800e-01 1.500e-01 3.400e-01 2.500e-01 6.000e-02 1.000e-01 1.600e-01
 4.500e-01 2.400e-01 6.000e-01 3.300e-01 2.000e-01 4.300e-01 5.400e-01
 3.800e-01 3.900e-01 4.900e-01 3.600e-01 3.000e-01 8.000e-02 1.100e-01
 4.000e-01 6.900e-01 2.300e-01 1.400e-01 6.400e-01 2.100e-01 1.800e-01
 4.100e-01 4.600e-01 1.000e-02 7.500e-01 5.800e-01 5.300e-01 3.100e-01
 6.300e-01 5.600e-01 6.100e-01 4.800e-01 7.300e-01 8.400e-01 5.100e-01
 7.100e-01 3.000e-02 6.800e-01 5.900e-01 8.600e-01 9.000e-02 8.100e-01
 2.900e-01 4.000e-02 6.600e-01 5.500e-01 8.300e-01 7.400e-01 8.800e-01
 7.900e-01 7.600e-01 5.000e-01 7.800e-01 2.830e+00 6.500e-01 9.000e-01
 8.000e-01 7.000e-01 8.500e-01 2.330e+00 1.976e+01 9.900e-01 1.000e+00
 2.990e+00]
0.00     55377
0.15      1153
0.18       673
0.06       634
0.13       628
         ...
2.33         1
19.76        1
0.99         1
1.00         1
2.99         1
Name: spl_ic_mou_6, Length: 78, dtype: int64

spl_ic_mou_7 has number of categories as : [0.000e+00 2.000e-01 1.600e-01 6.100e-01 6.000e-01 5.800e-01 4.000e-01
 1.500e-01 8.000e-01 6.000e-02 2.800e-01 7.800e-01 1.100e-01 3.300e-01
 8.000e-02 2.500e-01 6.400e-01 5.300e-01 1.800e-01 3.800e-01 1.000e-01
 5.100e-01 4.300e-01 6.300e-01 3.000e-02 1.300e-01 9.000e-02 5.400e-01
 2.900e-01 7.300e-01 2.300e-01 6.500e-01 2.100e-01 7.100e-01 6.600e-01
 5.000e-02 5.600e-01 8.600e-01 4.600e-01 3.600e-01 6.800e-01 1.400e-01
 4.100e-01 4.500e-01 3.400e-01 3.100e-01 9.300e-01 7.400e-01 7.600e-01
 2.400e-01 3.000e-01 6.900e-01 9.100e-01 8.900e-01 2.600e-01 5.900e-01
 4.000e-02 1.200e+00 1.090e+00 1.000e-02 3.900e-01 8.300e-01 4.800e-01
 1.180e+00 1.000e+00 9.500e-01 1.900e-01 8.500e-01 4.900e-01 9.400e-01
 1.060e+00 5.500e-01 1.080e+00 8.800e-01 4.400e-01 7.500e-01 1.130e+00
 1.030e+00 7.000e-01 3.500e-01 5.000e-01 9.000e-01 1.580e+00 1.100e+00
 7.900e-01 9.600e-01 8.400e-01 8.100e-01 9.900e-01 5.240e+00 2.000e+00
 7.000e+00 1.140e+00 1.010e+00 1.150e+00 1.040e+00 9.800e-01 2.960e+00
 2.910e+00 1.346e+01 5.880e+00 1.160e+00 1.280e+00]
0.00    62551
0.20      892
0.18      536
0.06      353
0.05      321
        ...
2.96        1
7.00        1
2.00        1
5.24        1
1.28        1
Name: spl_ic_mou_7, Length: 103, dtype: int64

spl_ic_mou_8 has number of categories as : [6.600e-01 1.000e-02 0.000e+00 1.100e-01 4.300e-01 2.900e-01 2.100e-01
 2.500e-01 3.300e-01 2.400e-01 2.800e-01 7.500e-01 3.000e-01 1.800e-01
 1.300e-01 2.600e-01 3.600e-01 1.190e+00 1.900e-01 4.100e-01 5.100e-01
 1.000e-01 2.300e-01 6.000e-02 8.000e-02 5.000e-01 3.900e-01 7.000e-01
 1.150e+00 8.400e-01 6.400e-01 6.100e-01 4.400e-01 3.800e-01 4.000e-02
 2.000e-01 5.600e-01 4.800e-01 3.100e-01 4.000e-01 7.300e-01 1.600e-01
 5.000e-02 4.600e-01 9.000e-02 1.500e-01 8.800e-01 4.900e-01 1.000e+00
 7.100e-01 3.400e-01 6.000e-01 7.400e-01 5.300e-01 8.300e-01 9.000e-01
 3.000e-02 4.500e-01 1.400e-01 5.400e-01 5.500e-01 8.600e-01 6.500e-01
 5.900e-01 8.100e-01 5.800e-01 6.300e-01 6.900e-01 8.000e-01 3.500e-01
 7.600e-01 7.900e-01 9.800e-01 9.900e-01 9.100e-01 6.800e-01 9.600e-01
 1.250e+00 5.590e+00 1.080e+00 7.800e-01 8.900e-01 1.710e+00 9.500e-01
 9.300e-01 8.500e-01 1.110e+00 1.200e+00 1.060e+00 1.230e+00 2.680e+00
 9.400e-01 1.686e+01 1.010e+00 1.260e+00]
0.00    61740
0.25     1053
0.50      578
0.21      520
0.06      305
        ...
1.19        1
1.08        1
5.59        1
0.99        1
1.26        1
Name: spl_ic_mou_8, Length: 95, dtype: int64

isd_ic_mou_6 has number of categories as : [  0.   240.58 110.46 ... 116.64  82.98 570.09]
0.00      59119
0.01        251
0.03        170
0.05        125
0.46         66
          ...
763.74        1
196.83        1
46.36         1
49.11         1
570.09        1
Name: isd_ic_mou_6, Length: 4421, dtype: int64

isd_ic_mou_7 has number of categories as : [  0.   734.81  18.51 ...  23.86  56.58 562.11]

0.00      58658
0.01        111
0.46         71
0.05         69
0.03         66
          ...
62.68         1
161.01        1
120.43        1
22.51         1
562.11        1
Name: isd_ic_mou_7, Length: 4640, dtype: int64

isd_ic_mou_8 has number of categories as : [  0.   402.38   1.1  ... 947.44  67.71  35.79]
0.00      59051
0.46         95
0.01         83
0.03         74
0.05         66
          ...
85.86         1
78.73         1
21.64         1
177.28        1
35.79         1
Name: isd_ic_mou_8, Length: 4694, dtype: int64

ic_others_6 has number of categories as : [ 1.11  0.    0.18 ... 56.19 42.01 17.46]
0.00     54453
0.06       551
0.48       527
0.05       500
0.15       475
         ...
42.63        1
11.15        1
59.09        1
17.19        1
17.46        1
Name: ic_others_6, Length: 1523, dtype: int64

ic_others_7 has number of categories as : [6.9000e-01 0.0000e+00 1.9000e-01 ... 1.5090e+01 1.0350e+01 6.1349e+02]
0.00      56437
0.05        297
0.06        284
0.10        277
0.08        248
          ...
15.89         1
20.94         1
13.23         1
17.60         1
613.49        1
Name: ic_others_7, Length: 1658, dtype: int64

ic_others_8 has number of categories as : [  0.     0.25   0.24 ...  26.43   7.3  230.34]
0.00      54763
0.10        584
0.06        535
0.08        484
0.13        356
          ...
11.69         1
18.03         1
23.41         1
25.89         1
230.34        1
Name: ic_others_8, Length: 1565, dtype: int64

total_rech_num_6 has number of categories as : [  3   2  13   9   4   8  10  15   6   7   5  12  26   1   0  23  11  24
  16  20  43  14  28  18  17  22  33  25  19  42  46  52  39  37  44  21
  47  31  32  35  38  30  53  27  56  29  65  45  34  63  64  36  50  70
  40  48  51  41  61  59  76  49  90  72  77 121  71  83  73  66  88 170
  55  94  62 116  58  84 125  68  54  60  67  89  69  57  87  80  74 102
 105 117  75  78]
4      8079
3      8001
5      7285
2      6298
6      6216
       ...
89        1
116       1
90        1
170       1
78        1
Name: total_rech_num_6, Length: 94, dtype: int64

total_rech_num_7 has number of categories as : [  2   4  10   8   3   6   5  19   7   0  21  14  17  29   9  50  11  13
  33   1  18  12  24  15  41  44  23  16  22  26  28  38  39  20  30  27
  66  32  25  31  37  43  51  47  36  35  49  60  34  58  46  40  48  42
  45  64  54  77  69  72 111  57  70  75  63  59  87  68  61  53  67  55
  84  73  82  74  83 138  62  96  56  89  80  52  76  71  78  98 120  85
  81 119  65  79 107  95]
4     8630
3     8242
5     7706
6     6247
2     5627
      ...
83       1
82       1
87       1
84       1
95       1
Name: total_rech_num_7, Length: 96, dtype: int64

total_rech_num_8 has number of categories as : [  2   5   3   8  10   1  20   6   4  12  11   0   7  13  16  17  15  14
  25  22   9  26  42  21  40  30  18  19  27  45  29  34  23  32  39  28
  41  24  31  43  62  36  37  33  48  44  49  38  47  35  46  59  65  64
  55  82  60  72  50  52  90  69  56  70  61  78  57  53  51  68 138  54
  63  67  88  75  86  76 122  66 102  58  94  97 121  77 116  74  96 127
  85  81]
3      8342
2      7708
4      7562
5      6422
6      5344
       ...
94        1
102       1
122       1
72        1
81        1
Name: total_rech_num_8, Length: 92, dtype: int64

total_rech_amt_6 has number of categories as : [  77    0   70 ... 3069 2106 2576]
0       7805
110     2388
120     1363
50      1134
200     1086
        ...
3852       1
3218       1
1259       1
1959       1
2576       1
Name: total_rech_amt_6, Length: 2108, dtype: int64

total_rech_amt_7 has number of categories as : [  65  145  120 ... 3919 3100 2846]
0       8259
110     2584
50      1309
120     1290
220     1075
        ...
3082       1
2223       1
2357       1
2249       1
2846       1
Name: total_rech_amt_7, Length: 2147, dtype: int64

total_rech_amt_8 has number of categories as : [  10   50    0 ... 3154 1853 1950]
0       9487
130     2451
50      1244
150      990
100      954
        ...
2089       1
2520       1
1278       1
2070       1
1950       1
Name: total_rech_amt_8, Length: 2149, dtype: int64

max_rech_amt_6 has number of categories as : [  65    0   70  110   50   30  198  200  128  150  250  145   44  120
   99  169  154  215   20  104  505   10   18   36   25   37  100  125
   67   46   60   90   33  550  252   41  350   55   98  159   91  400
  269  152   27   71   47  225   72  599   77   95  398   56  319   76
  379   17   86  229 3010  500  274   48  300  179  455  220  855   23
  202  330  101   49  459 1000  325   89  339   80  102  440  279  399
   31  619 1050  750   16   28  219  175    9   24   14    7   40   29
   15   59   68  195  191   62  655  297   93   21   26  155  153  410
  849  565   52 1001   54  147   97 1479   94  124 1119   43  299 1500
   22  755   69   45  951   66 2000  106  116   84 1649  390   12  752
   58 1098  790 1555   35   75  194  126 2100 4010  249  779  405   19
   42   78   53   38  236   32  148 2933  201  107  887 3000 1580  138
 1010  199  530  351  600 3100 1255 1464 2010 3299  498   82  825  129
   63  156  197 3350  650  230  245 3559]
110     14798
0        7805
50       6700
30       6564
120      4159
        ...
2933        1
236         1
53          1
4010        1
3559        1
Name: max_rech_amt_6, Length: 190, dtype: int64

max_rech_amt_7 has number of categories as : [  65  145   70  110   41   30    0  198   50   36  120  250   20   27
  128  169  150  200   25  154   10  325  350   17   37   67  252   12
   33  130   98  100   55   58  229   91   44  400   56  202   47  225
  619   95   46  215  550   23  152   48   77  398   86  779  220   16
  855   40  106   14  500  101  179  274  459 1000  125  155   99   24
  300  102 1001  455  279   38  440  565  750  195   59  399  505   68
  339  849  175    9   54   97  298   94  330   26 2010   49  147   43
 1050   90  297 1500   15  194 1010  116   31 1098   75  153   19   93
 2100   39   60 1255    7  790  951  390   21  655  107  104   76 2199
  410   28  755   42   18  199   32   52  124 1479 2000  126  498   29
  752 1555   13 3100 1580  974   62 1649   78  180   22   35  600  197
 2933  786   66 1100  156  188  129  405  887  825    8  148   34  351
  230 1099    5 3299  201   84  149  800   61   81]
110     12277
0        8259
50       7500
30       6662
128      3289
        ...
188         1
156         1
2933        1
974         1
81          1
Name: max_rech_amt_7, Length: 178, dtype: int64

max_rech_amt_8 has number of categories as : [  10   50    0   30  130  198  150  149   33  250  200   20   36  144
  279  164  215  252  152   65  169   37  110   67  154   27  202  100
  128   25  550   19  114  350  750  239   46  330   86   44  119  195
   61  145   47    7  179   17   70  459   79  339 3010   98   77   26
  140   48  398   41  220  500   22  505  951   23  300  101   91 1050
  102  175   68   49   24  229  899   55  248   14  399   56  455  289
  849   62  619  197   31  126 1000   97   42  855  274  825   40  225
  379  104  400 1098   12  349   15  147  479   59  297   45   95  153
   35 1010  440  325  565   94  106 1649   32    9 1555  655 1001  155
  142   51  188   28  390   99 1500  498  116   93  449   54   52  125
 1479  790   21  495 1699  649   29  755  201  245   18  752 3100 1580
  298   75 2000   78  163  786 4449  124  199   43  574 1255  230 2199
  295  650    5 1049   76   64  111 3000  531    2   81  351 2100  161
   60  194  299   34  254  249   38   58 2010 3399  779  129  168   89
  209  107  405   96  120   84]
130     12490
0        9487
50       7596
30       6318
154      2435
        ...
650         1
295         1
1255        1
574         1
84          1
Name: max_rech_amt_8, Length: 202, dtype: int64

last_day_rch_amt_6 has number of categories as : [  65    0   70  110   25   30  198  200  128   98   26  145   44   20
  120   99   33  215  104  505   10   36   50   17   67   46  154  550
  150  252  250   55   91  350   14   56   27  400   48   71   47   23
   77   95   41  398    9   86  229  100 3010  274   90  300   19   37
   28  455  500  855   40  202  152  459  102 1000   24  339  279  179
  619  330    7   75  325  107  175  220   13   29  169  225   15   68
  750   54   31  159   59  297  195  269   93   89 1001  565   35   12
  319   97 1479    5   49   94  440  124  153   18  655   22  755  219
   69   62 2000  106   76  101   84   21  379 1649   52  790  125  752
   58 1098  951   60  147  116 1555  194  849  410  126 4010  249 1050
   42   78 2100   32   53   45  236  390  148 2933  155  399   39  887
 1580   34 1010   80   38   16  199 3100  180   43 1255  599 2010 3299
  779 1500  498   82  825  129  191   63  197 3350  650]
0       18600
110     10905
30       8375
50       5682
10       4199
        ...
53          1
3010        1
4010        1
1479        1
650         1
Name: last_day_rch_amt_6, Length: 179, dtype: int64

last_day_rch_amt_7 has number of categories as : [  65    0   50  110   10   20  198   27  120  150   23  128  200   30
   25   36  129  130   98  100   17  154  252  250  229    7  350   56
   67   68   47   95   70   46  550   77  398   44   55  102   26  220
   33   16  325   13  106   14  500  152  169  300   41   37 1000    9
  274   24 1001  215   91  455  619   86  125  279   48  459   90   59
  145   54  505  179   15  195  175  202  225  298   94 2010  147   40
  339  194   99   22  155 1010   97  440 1098   75   31  153  201 1050
   35  400   93    5   49  849  330   21   18  790  116  951  390  655
  104   28  297  750  410   29  565  855  199   32   52  124 1479 2000
   60  126  498  752   58  399 3100   78   62  180 2100  197 2933  786
    1 1100 2199  188   42  755 1500 1649  405  887   43 1555  825   34
  148  351   76   12   19  230  107   84  149 1255  101    4]
0       22648
30       7595
110      6092
50       5414
10       3786
        ...
1649        1
197         1
188         1
2199        1
4           1
Name: last_day_rch_amt_7, Length: 166, dtype: int64

last_day_rch_amt_8 has number of categories as : [   0   50   30  130  150  149   27  250   10  144   48   20   61  215
  252  152  169  198   67   25  154  200   98  114  110   41  350  179
  100    9   12  330   23   59   36   14  145   47    7   70   17   42
   65 3010   46  550   26   33   45  175   91  102  500   22   44  398
   86  119  300  101  339   51  229  899  248   78  289   37   62  325
  129  197   99  505  239  126 1000   15  128  459   56  164  825   77
  849   79  225  455  202   19  104 1098  400  349  274    5  479  297
   49   95   55   54  125 1010  440   43  565  279   94  140  750 1050
   40  106  399   24   28   31   97  655 1001  163  220   21  390  855
  498   13   93   34  379   18  449  195 1479  790  951    4   68  619
 1699  649   29  116  755  752   35  155  147  295 3100 1464 1555 1580
   75   32 4449  124  199  574 1255   76  786  650 1649 1049  111   64
   16 2100  120   52  254  531  194  249 1500 2000 2010 3399  108  779
  161  153   89  209   96  107  245    1   84]
0       23469
130      9050
30       7050
50       5487
10       3639
        ...
197         1
4449        1
1649        1
650         1
84          1
Name: last_day_rch_amt_8, Length: 191, dtype: int64

vol_2g_mb_6 has number of categories as : [  0.   390.8  167.53 ...  14.84  46.25 280.7 ]
0.00      54412
0.01         65
0.02         52
0.03         37
0.04         30
          ...
13.75         1
321.86        1
181.76        1
932.25        1
280.70        1
Name: vol_2g_mb_6, Length: 11494, dtype: int64

vol_2g_mb_7 has number of categories as : [   0.    352.91  308.89 ... 1623.57  200.42  244.59]
0.00      54219
0.01         69
0.02         60
0.04         35
0.03         32
          ...
782.79        1
123.47        1
81.31         1
201.38        1
244.59        1
Name: vol_2g_mb_7, Length: 11443, dtype: int64

vol_2g_mb_8 has number of categories as : [   0.    213.47    5.4  ... 2530.85  219.39  982.54]
0.00       54078
0.01          73
0.02          51
0.03          39
0.07          35
           ...
105.10         1
1038.93        1
218.48         1
710.54         1
982.54         1
Name: vol_2g_mb_8, Length: 11359, dtype: int64

vol_3g_mb_6 has number of categories as : [   0.    177.9    97.94 ...  313.01  500.33 1253.47]
0.00       59807
0.01          11
0.03           9
0.02           8
0.09           7
           ...
269.50         1
2420.26        1
2222.60        1
399.49         1
1253.47        1
Name: vol_3g_mb_6, Length: 9768, dtype: int64

vol_3g_mb_7 has number of categories as : [   0.      3.96  151.58 ...  746.38  251.64 1774.18]
0.00       59234
0.01          14
0.02           7
0.07           7
0.06           6
           ...
1629.30        1
835.06         1
760.08         1
980.70         1
1774.18        1
Name: vol_3g_mb_7, Length: 10296, dtype: int64

vol_3g_mb_8 has number of categories as : [   0.    271.4  1342.93 ...   49.42  668.48  658.19]
0.00       58872
0.01          16
0.03          10
0.04           9
0.02           7
           ...
766.23         1
1356.87        1
332.19         1
1101.79        1
658.19         1
Name: vol_3g_mb_8, Length: 10663, dtype: int64

monthly_2g_6 has number of categories as : [0 1 2 3 4]
0    64896
1     4688
2      389
3       20
4        6
Name: monthly_2g_6, dtype: int64

monthly_2g_7 has number of categories as : [0 1 2 4 3 5]
0    64695
1     4806
2      467
3       27
4        3
5        1
Name: monthly_2g_7, dtype: int64

monthly_2g_8 has number of categories as : [0 1 2 4 3 5]
0    64817
1     4738
2      413
3       24
4        6
5        1
Name: monthly_2g_8, dtype: int64

sachet_2g_6 has number of categories as : [ 0  7  1  3 10  2  4 11  6  8  5  9 12 13 15 20 21 42 14 16 22 25 19 18
 30 28 17 24 32 34]
0     60982
1      3898
2      1744
3       936
4       647
5       414
6       326
7       236
8       212
9       152
10      132
11       91
12       80
13       37
14       33
15       20
16       14
17       11
19        8
22        5
18        5
21        4
20        3
25        3
30        1
28        1
42        1
24        1
32        1
34        1
Name: sachet_2g_6, dtype: int64

sachet_2g_7 has number of categories as : [ 0  6  2  1  3 11  5  4  9  7  8 10 13 17 12 18 15 14 32 16 19 48 26 20
 30 23 22 21 25 27 24 35 42]
0     60677
1      3652
2      1713
3       957
4       767
5       560
6       425
7       307
8       234
10      178
9       135
11      118
12       93
14       42
13       35
15       27
16       13
19       11
18       10
17        8
20        7
23        6
22        5
21        5
27        3
26        3
32        2
35        1
24        1
30        1
25        1
48        1
42        1
Name: sachet_2g_7, dtype: int64

sachet_2g_8 has number of categories as : [ 0  6  1  2  5  3  4 10  7 14 16  8  9 12 13 21 11 22 15 20 23 31 24 18
 17 44 19 32 27 29 25 34]
0     60148
1      4072
2      1712
3      1007
4       815
5       611
6       430
7       282
8       250
9       152
10      139
11      104
12       93
14       41
13       39
16       25
15       20
17       10
18       10
20        8
19        7
24        4
22        4
29        3
23        2
21        2
32        2
27        2
25        2
31        1
44        1
34        1
Name: sachet_2g_8, dtype: int64

monthly_3g_6 has number of categories as : [0 1 2 4 3 5 6 8 7 9]
0    65990
1     3150
2      595
3      167
4       59
5       16
6       10
7        8
8        2
9        2
Name: monthly_3g_6, dtype: int64

monthly_3g_7 has number of categories as : [ 0  1  2  3  5  4  8  6  7 16 14  9 10]
0     66062
1      2954
2       711
3       163
4        48
5        27
6        18
7         6
8         4
9         3
16        1
14        1
10        1
Name: monthly_3g_7, dtype: int64

monthly_3g_8 has number of categories as : [ 0  1  2  3  4  8  5  6  9  7 16 10]
0     65789
1      3180
2       738
3       183
4        65
5        24
6         7
7         6
8         3
9         2
16        1
10        1
Name: monthly_3g_8, dtype: int64

sachet_3g_6 has number of categories as : [ 0  3  1  2  4  7  6 16  5 11  9 10 13 17 14  8 19 18 23 22 15 29 12]
0     67088
1      2067
2       427
3       149
4        76
5        46
7        36
6        34
8        17
9        16
11       10
10        7
15        4
13        3
14        3
19        3
23        3
12        3
22        2
29        2
17        1
16        1
18        1
Name: sachet_3g_6, dtype: int64

sachet_3g_7 has number of categories as : [ 0  1  4  2  7  5  6  3  9 15 11  8 12 13 24 18 10 17 20 14 33 22 31 19
 16 21]
0     67101
1      1951
2       457
3       166
4        87
5        72
6        49
7        27
8        14
11       12
10       11
9        11
12        9
14        6
15        5
18        3
22        3
20        3
19        2
13        2
17        2
24        2
33        1
31        1
16        1
21        1
Name: sachet_3g_7, dtype: int64

sachet_3g_8 has number of categories as : [ 0  1  6  5  2  8  3  7  4 41  9 10 11 16 29 15 13 18 12 20 23 19 14 21
 17 30 25 38]
0     67059
1      1969
2       435
3       189
4        93
5        76
6        36
7        31
8        25
9        16
10       13
12       10
13        9
11        9
15        5
16        3
18        3
20        3
14        3
17        2
23        2
21        2
25        1
30        1
29        1
19        1
41        1
38        1
Name: sachet_3g_8, dtype: int64

aon has number of categories as : [1958  710  882 ... 3330 3491 2913]
3651    889
2372    464
495     235
492     220
494     203
       ...
3636      1
3645      1
3432      1
3131      1
2913      1
Name: aon, Length: 3455, dtype: int64

aug_vbc_3g has number of categories as : [  0.    82.26   1.05 ... 107.77  72.25 664.25]
0.00      58348
0.05          8
0.26          8
0.17          7
0.09          7
          ...
667.52        1
342.34        1
66.88         1
26.48         1
664.25        1
Name: aug_vbc_3g, Length: 10609, dtype: int64

jul_vbc_3g has number of categories as : [0.00000e+00 7.35600e+01 8.60000e-01 ... 1.12700e+02 1.65300e+01
 1.40296e+03]
0.00       58747
0.04           9
0.02           8
0.48           6
0.03           6
           ...
811.40         1
785.98         1
89.25          1
1315.88        1
1402.96        1
Name: jul_vbc_3g, Length: 10257, dtype: int64

jun_vbc_3g has number of categories as : [  0.   177.14  18.95 ... 148.8   18.84 990.97]
0.00      59445
0.03          9
0.06          7
0.32          6
0.08          6
          ...
557.79        1
474.09        1
817.54        1
23.65         1
990.97        1
Name: jun_vbc_3g, Length: 9617, dtype: int64

churn_probability has number of categories as : [0 1]
0    62867
1     7132
Name: churn_probability, dtype: int64

## Lets focus on Outliers now and treat them

In [29]:
# Generic method to remove outliers
def remove_outliers(df, features):
    for feature in features:
        q1 = df[feature].quantile(0.25)
        q3 = df[feature].quantile(0.99)
        iqr = q3-q1
        lower_value  = q1 - (1.5 * iqr)
        higer_value = q3 + (1.5 * iqr)
        df = df[(df[feature] <= higer_value) & (df[feature] >= lower_value)]
    return df